<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 04.08.2023, 16:50</time>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to my blog!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>And my second post</p>
        </article>
    </body>
</html>